venv/
.idea/
datasets/
00 Сравнение музыкальных предпочтений Москвы и Санкт-Петербурга на основе данных Яндекс.Музыки/datasets/
00 Сравнение музыкальных предпочтений Москвы и Санкт-Петербурга на основе данных Яндекс.Музыки/.ipynb_checkpoints/
01 Анализ влияния семейного положения и количества детей на погашение кредита в срок/.ipynb_checkpoints/
02 Исследовательский анализ рынка недвижимости Санкт-Петербурга/.ipynb_checkpoints/
03 Анализ тарифных планов «Смарт» и «Ультра» компании «Мегалайн»/.ipynb_checkpoints/
04 Анализ рынка компьютерных игр для интернет-магазина «Стримчик»/.ipynb_checkpoints/
05 Рекомендация тарифов для клиентов оператора мобильной связи «Мегалайн»/.ipynb_checkpoints/
06 Прогнозирование оттока клиентов для «Бета-Банка»/.ipynb_checkpoints/